Body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.flex-container{
        display: flex;
        background-color: DodgerBlue;
    
}
section{
    padding: 20px;
}
#about{
    background-color: rgb(159, 159, 180);
}
#projects{
    background-color: rgb(176, 216, 203);
}
#contact{
    background-color: rgb(142, 201, 201);
}
footer{
    text-align: center;
    background-color: #3b1e1e;
    color: #fff;
    padding: 5px;
}